<section class="p-9">
  <h3 class="text-center text-3xl font-bold">Proyectos</h3>

  <div class="overflow-x-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th>Nombre del proyecto</th>
          <th>Estado</th>
          <th>Fecha de Inicio</th>
          <th>Fecha de Fin</th>
          <th>Cliente</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (project of getProjects.value(); track project._id) {
        <tr>
          <th>
            {{ project.name }}
          </th>
          <td>
            {{ getStatusLabel(project.estado) }}
          </td>
          <td>
            {{ project.fecha_inicio }}
          </td>
          <td>
            {{ project.fecha_fin }}
          </td>
          <td>
            {{ project.client.fullName }}
          </td>
          <th>
            <button class="btn btn-ghost btn-xs">details</button>
          </th>
        </tr>
        }
      </tbody>
      <!-- foot -->
      <tfoot>
        <tr>
          <th>Nombre del proyecto</th>
          <th>Estado</th>
          <th>Fecha de Inicio</th>
          <th>Fecha de Fin</th>
          <th>Cliente</th>
          <th></th>
        </tr>
      </tfoot>
    </table>
  </div>
</section>
